{% extends 'base_template.html'%}
{% load static %}

{% block contenido%}
<header class="main-header">
        
    <nav>
        <ul>
            <li>
                <a class="flotante" href="{% url 'Cerveceria' %}">Inicio</a>
            </li>
            
            <li>
                <a class="flotante" href="{% url 'productos' %}">Productos</a>
            </li>
        </ul>
    </nav>


</header>



        <section class="promociones1" id="promociones">
            <div class="container1 textonosotros">
                
                <h2>Promociones</h2>
                <br>
                <br>
                <p>Compra una selección de nuestras cervezas premium y recibe un descuento especial en cada botella o lata. ¿Eres un amante de la cerveza artesanal? ¡Estás de suerte!
                   Nuestra promoción también incluye nuestras creaciones más innovadoras y experimentales.
                </p>
                <br>

                <div class="containerPromos">
                    <div class="containers">
                        <br>
                        <div class="imagencerveza">
                            <img class="img1" src="{% static './media/imagenes/1.png' %}">
                        </div>

                        <div class="texto">
                            <h5>Pinta red</h5>
                            <p>Este tipo de cerveza se caracteriza por su color, que varía de un tono ámbar a rojo profundo, y suele tener un sabor y 
                                aroma maltoso con toques de caramelo y tostado.
                            </p>
                            <br>
                            <div class="botoncompra">
                                <button id="add-to-cart-1">Agregar al carrito</button>
                            </div>
                        </div>

                    </div>

                    <div class="containers">
                        <br>
                        <div>
                            <img class="img1" src="{% static './media/imagenes/2.png' %}">
                        </div>
                        <div class="texto">
                            <h5>Rubia</h5>
                            <p>Se caracteriza por tener un color dorado o amarillo claro. Suele ser refrescante y tiene un sabor equilibrado, con notas maltosas 
                                y un toque de amargura que varía según el estilo y la marca
                            </p>
                            <br>
                            <div class="botoncompra">
                                <button id="add-to-cart-1">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>

                    <div class="containers">
                        <br>
                        <div>
                            <img class="img1" src="{% static './media/imagenes/3.png' %}">
                        </div>
                        <div class="texto">
                            <h5>Double</h5>
                            <p>Variedad popular de cerveza mixta que a menudo se hace mezclando cerveza con limonada o soda de limón, lo que resulta en una bebida refrescante 
                                y efervescente con un sabor cítrico
                            </p>
                            <br>
                            <div class="botoncompra">
                                <button id="add-to-cart-1">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>

                    <div class="containers">
                        <br>
                        <div>
                            <img class="img1" src="{% static './media/imagenes/4.png' %}">
                        </div>
                        <div class="texto">
                            <h5>Porter</h5>
                            <p>Se caracteriza por tener sabores y aromas muy pronunciados y a menudo una mayor concentración 
                                de alcohol en comparación con las cervezas más suaves.
                            </p>
                            <br>
                            <div class="botoncompra">
                                <button id="add-to-cart-1">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>


                    <div class="containers">
                        <br>
                        <div>
                            <img class="img1" src="{% static './media/imagenes/5.png' %}">
                        </div>
                        <div class="texto">
                            <h5>Saison</h5>
                            <p>Una cerveza Saison, también conocida como Farmhouse Ale, es un estilo de cerveza belga que 
                                se caracteriza por su frescura y carácter refrescante.
                            </p>
                            <br>
                            <div class="botoncompra">
                                <button id="add-to-cart-1">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>


                    <div class="containers">
                        <br>
                        <div>
                            <img class="img1" src="{% static './media/imagenes/6.png' %}">
                        </div>
                        <div class="texto">
                            <h5>Blonde</h5>
                            <p> Blonde IPA es un subestilo de India Pale Ale (IPA) que se caracteriza por su perfil de sabor
                                equilibrado y su aspecto más claro en comparación con algunas otras IPAs.
                            </p>
                            <br>
                            <div class="botoncompra">
                                <button id="add-to-cart-1">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>


                    <div class="containers">
                        <br>
                        <div>
                            <img class="img1" src="{% static './media/imagenes/7.png' %}">
                        </div>
                        <div class="texto">
                            <h5>Ipa Ale</h5>
                            <p>Se destaca por su sabor amargo y su abundante aroma a lúpulo.
                            </p>
                            <br>
                            <div class="botoncompra">
                                <button id="add-to-cart-1">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>


                    <div class="containers">
                        <br>
                        <div>
                            <img class="img1" src="{% static './media/imagenes/8.png' %}">
                        </div>
                        <div class="texto">
                            <h5>Sour Ale</h5>
                            <p>Es un estilo de cerveza que se caracteriza por tener un sabor ácido o agrio. Estas cervezas se obtienen mediante la 
                                fermentación con cepas de levadura 
                            </p>
                            <br>
                            <div class="botoncompra">
                                <button id="add-to-cart-1">Agregar al carrito</button>
                            </div>
                        </div>
                
                    </div>
                
                </div>
            </div>

        </section>
        <hr>
{% endblock %}



   